<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nielit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nid"
        android:label="Nielit Delhi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".splashActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".OurTeam"
            android:label="@string/title_activity_our_team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nsqf"
            android:label="NSQF Aligned Courses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".zone_wise"
            android:label="Our Centres"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Courses"
            android:label="@string/title_activity_courses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUs"
            android:label="About Us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Feedback"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUs"
            android:label="Contact Us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Centers"
            android:label="Our Centre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Nielit Delhi"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>